**/.local/share/
**/.local/state/

.DS_Store
**/.DS_Store

**/TODO.md

# IDE
.idea/
*.swp
*.swo
.nvim.lua

**/local
**/tmp
**/secrets
**/private/*
**/tmux/plugins/*

# Beads / Dolt files (added by bd init)
.dolt/
*.db
.beads-credential-key
